* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header {
    padding-bottom: 20px;
    border-bottom: 2px solid #ddd;
}

.header h1 {
    font-size: 2.5em;
    color: #2c3e50;
}

.header p {
    font-size: 1.2em;
    color: #7f8c8d;
}

/* Profile image container with hover effect */
.profile-image-container {
    position: relative;
    display: inline-block;
}

.profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.profile-image:hover {
    transform: rotate(360deg) scale(1.1);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
}

.contact a {
    color: #3498db;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

.icons a {
    margin: 0 10px;
    color: #3498db;
    font-size: 1.5em;
}

.icons a:hover {
    color: #2980b9;
}

.section {
    margin-top: 30px;
}

h2 {
    font-size: 1.8em;
    color: #2980b9;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.experience li {
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.experience li:hover {
    background-color: #e0e4e5;
}

.skills li {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 8px 15px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 0.9em;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .header h1 {
        font-size: 2em;
    }

    .header p {
        font-size: 1em;
    }

    h2 {
        font-size: 1.5em;
    }
}


/* Styling the download button */
.cv-download {
    margin-top: 20px;
}

.download-btn {
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-btn i {
    margin-right: 8px;
}

.download-btn:hover {
    background-color: #2980b9;
}
